urllib3>=1.23
scipy>=0.19.1
stem>=1.6.0
colorama>=0.3.9
send2trash>=1.5.0
numpy>=1.13.3
mutagen>=1.41.1
psutil>=5.4.7
pymongo>=3.7.1
httplib2>=0.11.3
pyparsing>=2.2.2
requests>=2.18.4
setuptools>=39.0.1
unidiff>=0.5.5
matplotlib>=2.1.1
beautifulsoup4>=4.6.3
GitPython>=2.1.11
google_api_python_client>=1.7.4
scikit_learn>=0.20.0
