mutagen>=1.41.1
requests>=2.18.4
scipy>=0.19.1
httplib2>=0.11.3
numpy>=1.13.3
matplotlib>=2.1.1
pyparsing>=2.2.2
colorama>=0.3.9
Send2Trash>=1.5.0
stem>=1.6.0
unidiff>=0.5.5
psutil>=5.4.7
setuptools>=39.0.1
pymongo>=3.7.1
pycrypto>=2.6.1
beautifulsoup4>=4.6.3
GitPython>=2.1.11
google_api_python_client>=1.7.4
scikit_learn>=0.20.0
